* {
  margin: 0px;
  padding: 0px;
}

h1 {
  padding: 0px;
}

body {
  text-align: center;
}

#cBParent{
  display: flex;
  justify-content: center;
}

#botPic {
  width: 200px;
}

#questPic {
  width: 200px;
}